<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="garciamaciel.sebastian.proyectofinal_thedot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal_TheDot">
        <activity android:name=".ActivityMetodosRespiracion"></activity>
        <activity android:name=".ActivityComoEstas" />
        <activity android:name=".ActivityConfiguracion" />
        <activity android:name=".ActivityMeditacionLidia" />
        <activity android:name=".ActivityMetodosFavoritos" />
        <activity android:name=".ActivityMeditacionAlcanza" />
        <activity android:name=".ActivityMeditacionAtras" />
        <activity android:name=".ActivityMeditacionComienza" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>