<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="garciamaciel.sebastian.proyectofinal_thedot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal_TheDot">
        <activity android:name=".ActivityDias"></activity>
        <activity android:name=".ActivityMuevete" />
        <activity android:name=".ActivityDedos" />
        <activity android:name=".ActivityEstiramiento" />
        <activity android:name=".Trazos" />
        <activity android:name=".Respiracion" />
        <activity android:name=".Recordatorios" />
        <activity android:name=".RespiracionProfunda" />
        <activity android:name=".EstiramientoPasivo" />
        <activity android:name=".Tecnicas" />
        <activity android:name=".TheDot" />
        <activity android:name=".MiPerfil" />
        <activity android:name=".Metodos" />
        <activity android:name=".Journal" />
        <activity android:name=".Inicio5" />
        <activity android:name=".Inicio4" />
        <activity android:name=".Inicio3" />
        <activity android:name=".Inicio2" />
        <activity android:name=".Inicio1" />
        <activity android:name=".IniciaSesion" />
        <activity android:name=".Estres" />
        <activity android:name=".CrearCuenta" />
        <activity android:name=".About" />
        <activity android:name=".ActivyEstiramientoEstatico" />
        <activity android:name=".ActivityMeditacion" />
        <activity android:name=".ActivityEstiramientoActivo" />
        <activity android:name=".ActivityIntencionesSemana" />
        <activity android:name=".ActivityIntencionesDia" />
        <activity android:name=".ActivityMetodosRespiracion" />
        <activity android:name=".ActivityComoEstas" />
        <activity android:name=".ActivityConfiguracion" />
        <activity android:name=".ActivityMeditacionLidia" />
        <activity android:name=".ActivityMetodosFavoritos" />
        <activity android:name=".ActivityMeditacionAlcanza" />
        <activity android:name=".ActivityMeditacionAtras" />
        <activity android:name=".ActivityMeditacionComienza" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>